<form>
    <mat-form-field>
        <input matInput type="text" #countrySearchInput placeholder="Search for countries" aria-label="State" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let country of countries$ | async" [value]="country.name" (click)="selectCountryByName(country.name)">
                {{country.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>

<mat-list *ngFor="let country of selectedCountry$ | async">
    <mat-list-item> Name: {{ country.name }} </mat-list-item>
    <mat-list-item> Code: {{ country.alpha2Code }} </mat-list-item>
    <mat-list-item> Population: {{ country.population }} </mat-list-item>
    <mat-list-item> Capital city: {{ country.capital }} </mat-list-item>
    <mat-list-item> Region: {{ country.region }} </mat-list-item>
    <mat-list-item> Currency: {{ country.currencies[0].name }} </mat-list-item>
</mat-list>